.ipynb_checkpoints 
logs.log

PR_1/README.md
PR_1/requirements.txt
PR_1/01-task-train-test-split/01-TrainTestSplitBase.ipynb
PR_1/01-task-train-test-split/02-TrainTestSplitScikitLearn.ipynb
PR_1/01-task-train-test-split/north_korea_missile_test_database.csv
PR_1/01-task-train-test-split/images/ArrangeDataFeaturesMatrixTargetVector.pptx
PR_1/01-task-train-test-split/images/CoefficientDetermination.png
PR_1/01-task-train-test-split/images/DoubleDescentTestErrors.png
PR_1/01-task-train-test-split/images/grid_search_cross_validation.png
PR_1/01-task-train-test-split/images/HousePredictions.png
PR_1/01-task-train-test-split/images/KingCountyArrangeData.png
PR_1/01-task-train-test-split/images/KingCountyHousingPrices.png
PR_1/01-task-train-test-split/images/KingCountyRandomState.png
PR_1/01-task-train-test-split/images/KingCountyShape.png
PR_1/01-task-train-test-split/images/KingCountyTrainTestSplit.png
PR_1/01-task-train-test-split/images/max_depth_vs_R2_Best_Model.png
PR_1/01-task-train-test-split/images/Model_Performance.png
PR_1/01-task-train-test-split/images/NotUsingTrainTestSplit.png
PR_1/01-task-train-test-split/images/Overfitting.png
PR_1/01-task-train-test-split/images/PythonLibraries.jpg
PR_1/01-task-train-test-split/images/TrainTestProcedure.png
PR_1/01-task-train-test-split/images/TrainTestRepeat.png
PR_1/01-task-train-test-split/images/trainTestSplitBoston.png
PR_1/01-task-train-test-split/images/treeCustomArrows.png
PR_1/01-task-train-test-split/images/treeDotSaveCustomArrows.dot
PR_1/01-task-train-test-split/images/treeDotSaveNoCustomArrows.dot
PR_1/01-task-train-test-split/images/treeNoCustomarrows.png
PR_1/02-task-standardize-data/01-Read-clean-and-validate.ipynb
PR_1/02-task-standardize-data/02-Standardizing-Data.ipynb
PR_1/02-task-standardize-data/nsfg.hdf5
PR_1/02-task-standardize-data/wine_types.csv
PR_1/03-task-linear-algebra/01-linear-algebra.ipynb
PR_1/04-task-pycaret/04-pycaret-tasks.ipynb
PR_2/README.md
